@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  color: #f5efe7;
  font-family: "Poppins";
  background-color: #f5efe7;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.quiz-container {
  background-color: #213555;
  border-radius: 10px;
  outline: 2px solid #213555;
  width: 600px;
  overflow: hidden;
  padding-top: 1.2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}

.quiz-header {
  padding: 2.5rem;
}

h2 {
  text-align: center;
  padding-bottom: 1.5rem;
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-left: 1rem;
}

ul li {
  font-size: 1.2rem;
  margin-top: 0.8rem;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #f5efe7;
  color: #000000;
  border: none;
  display: block;
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  font-family: inherit;
  padding: 20px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 1px;
}

button:hover {
  background-color: #d8c4b6;
}

button:focus {
  outline: none;
  background-color: #d8c4b6;
}

#progress-bar {
  width: 0%;
  height: 20px;
  background-color: #f5efe7;
  transition: width 0.3s ease-in-out;
}

#timer {
  width: 100%;
  height: 20px;
  background-color: #d8c4b6;
  transition: width 1s linear;
}
.main-container {
  background-color: #f5efe7;
  border-radius: 10px;
  outline: 2px solid #213555;
  width: 600px;
  overflow: hidden;
  padding-top: 1.2rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.7);
}
